@model dynamic

@{
    ViewBag.Title = "jQuery";
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <p id="anid">hello</p>
    </body>
    <script type="text/javascript" src="/Scripts/jquery-delayed.aspx"></script>
</html>